<center>
<h1>List of citations</h1>
</center>

{% if cit_map %}
  {% for year, pubs in cit_map.items %}
    <h1>{{ year }}</h1>
    <ul>
      {% for pub,citlist in pubs.items %}
      <li>
        {{ pub }}
        <ul>
          {% for cit in citlist %}
          <li>
            {{ cit }}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <strong>Total: </strong>
    {% for yr, num in totals.items %}
      {% if yr == year %}
        {{ num }}
      {% endif %}
    {% endfor %}
    <br />
  {% endfor %}
{% else %}
    <p>No citations.</p>
{% endif %}

<br />
<a href="{% url 'cites:index' %}">Index</a>
