{% include 'cites/header.html' %}

<center>
<h1>Citations</h1>
</center>
<a href="{% url 'cites:manage_pubs' %}">Manage publications</a><br/>
<a href="{% url 'cites:cit_list_year' %}">List of citations</a><br/>

{% if publications %}
  <table>
  <thead>
    <th>
      Abbreviation
    </th>
    <th>
      Citations
    </th>
    <th>
      Full Title
    </th>
  </thead>
  {% for pub in publications %}
    <tr>
      <td><a href="{% url 'cites:pub_detail' pub.id %}">{{ pub.abbrev }}</a></td>
      <td>{{ pub.citations.count }}</td>
      <td>{{ pub.title }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
    <p>No publications.</p>
{% endif %}

<h1>Adding publications</h1>

{% if error_message %}<p><strong><font color="red">{{ error_message }}</font></strong></p>{% endif %}

<form action="{% url 'cites:add_pub' %}" method="post">
{% csrf_token %}
  <label for="pub_abbrev">Abbreviation: </label>
  <input type="text" name="pub_abbrev" size="20"/><br />
  <label for="pub_title">Title: </label>
  <textarea name="pub_title" cols="50" rows="10"></textarea><br />
<br />
<br />
<br />
<input type="submit" value="Add" />
</form>

{% include 'cites/footer.html' %}
