{% include 'cites/header.html' %}

<h1><span class="abbrev-title">{{ publication.abbrev }}</span>: {{ publication.title }}</h1>

{% if citations %}
  <table>
    <thead>
    <th>Year</td>
    <th>Cited in</th>
    </thead>
  {% for cit in citations %}
    <tr>
      <td>{{ cit.cited_date.year }}</td>
      <td>{{ cit.title }}&nbsp;&nbsp;<a href="{% url 'cites:del_cit' publication.pk cit.pk %}">remove</a></td>
    </tr>
  {% endfor %}
  </table>
{% else %}
    <p>No citations.</p>
{% endif %}

<br />

<h1>Adding citations</h1>

{% if error_message %}<p><strong><font color="red">{{ error_message }}</font></strong></p>{% endif %}
<form action="{% url 'cites:add_cit' publication.pk %}" method="post"> {% csrf_token %}
  <label for="cit_title">Title: <label />
  <textarea name="cit_title" cols="50" rows="8"></textarea><br />
  <label for="cit_year">Year: <label />
  <input type="text" name="cit_year" size="8" value="2018"/><br />

  {% if publications %}
  Also citing:<br />
  <table>
  <thead>
    <th>Cite?</th>
    <th>Abbreviation</th>
    <th>Title</th>
  </thead>
    {% for pub in publications %}
      {% if pub != publication %}
        <tr>
          <td><input type="checkbox" name="also-pubs-checks[]" value="{{ pub.pk }}" /></td>
          <td>{{ pub.abbrev }}</td>
          <td>{{ pub.title }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}

<br />
<br />
<br />
<input type="submit" value="Add" />
</form>

<br />
<br />
<br />
<a href="{% url 'cites:index' %}">Index</a>

{% include 'cites/footer.html' %}
